.container-form {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.formulario {
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    margin: 10px;
    padding: 28px;
    width: 600px;
    box-shadow: 0px 0px 8px 0px rgba(189, 189, 189, 1);
}

.formulario:hover, .result {
    border: 1.4px solid #7B1FA2;
    box-shadow: 0px 0px 8px 0px #7B1FA2;
    transition: 0.1s;
}

.result {
    margin: 10px;
    border: 1px solid #9c27b0;
    box-shadow: 0px 0px 8px 0px rgba(189, 189, 189, 1);
    border-radius: 15px;
    background-color: #dcdcdc;

}

.result p {
    align-items: center;
    align-self: center;
    margin: 10px;
    color: #7B1FA2;
    font-weight: bold;
}

.formulario h2 {
    color: #7B1FA2;
    font-size: 20px;
}

.formulario label {
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
    padding: 6px;
    margin: 4px;
}

.formulario form input,
.form-plan {
    width: 85%;
    border: 1px solid #757575;
    border-radius: 8px;
    padding: 6px;
    margin: 8px;
}

.formulario form button {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    background-color: #9c27b0;
    color: #fff;
    border: 1px solid #9c27b0;
    padding: 8px 250px; /* Ajustado para usar todo o espaço disponível na largura */
    border-radius: 6px;
    text-align: center; /* Alinhar o texto ao centro */
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
}

.formulario form button:hover {
    background-color: #7B1FA2;
    transition: 0.5s;
}

.form-col {
    display: flex;
    justify-content: space-between;
}

.form-col-left {
    flex: 1;
    margin-right: 10px;
}

.form-col-right {
    flex: 1;
}

.img-vertical {
    width: 350px;
    height: 600px;
    background-image: url(../imagens/Velocity-elemento1.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}
