@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Roboto:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.menu img {
    display: flex;
    justify-content: start;
}
header .logo {
    text-align: center;
}
header .menu {
    background-color: #7B1FA2;
    display: flex;
    justify-content: end;
    justify-content: space-around;
}
header .menu ul {
    margin: 0 55px;
    list-style: none;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    margin: 15px;
}

.menu nav {
    width: 100%;
    height: 75px;
}

.menu nav img {
    width: 52px;
    height: 52px;
    margin: 0 5px;
}

.icone-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu span a {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

header .menu ul li {
    display: inline-block;
    padding: 10px 15px;
}
header .menu ul li a {
    text-decoration: none;
    color: #FDFDFD;
}

header .menu ul li a:hover {
    color: #bdbdbd;
}

.banner {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to bottom, #e1bee7, #fff);
    background-repeat: no-repeat;
    background-position: center center;
}
/* meel */
main .card-img1{ 
    width: 300px;
}
main .card-img{ 
    width: 500px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .planos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
main ul {
    text-align: center;
    list-style: none;
}
main ul li {
    font-size: 15px;
}
main .card-1, .card-2, .card-3 {
    border: 10px solid #00BCD4;
}
/* meel */
/*Formulario*/
.container{
    display: flex;
    min-height: 600px;
    width: 600px;
    margin: 0 auto;
    padding: 50px 0;
}
.formulario {
    border: 1px solid #bebebe;
    border-radius: 2px;
    margin: 0 10px;
    padding: 10px;
    width: 50%;
    height: 520px;
    float: left;
}

.formulario h2{
    color: #7B1FA2;
    font-size: 20px;
}
.formulario form input{
    width: 100%;
    border: 1px solid#000000;
    border-radius: 7px;
    padding: 7px;
    margin: 3px 0;
}
.formulario label{
    font-size: 13px;
    width: 100%;
    border-radius: 7px;
    padding: 5px;
    margin: 3px 0;
}
.form-plan{
    width: 100%;
    border: 1px solid#000000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
}
.formulario form button{
    font-size: 14px;
    background-color: #7B1FA2;
    color: #fff;
    border: 1px solid #7B1FA2;
    padding: 5px 80px;
    border-radius: 30px;
}
.formulario form button:hover{
    background-color: #7B1FA2;
    transition: 0.5s;
    cursor: pointer;
}
.img-vertical {
    width: 65%;
    height: 700px;
    background-image: url(../imagens/Velocity-elemento1.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    float: right;
}


footer {
    background-color: #7B1FA2;
    height: 260px;
}

.logo-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
    padding: 30px 0 0 0;
}

.logo-vertical {
    display: flex;
    margin: 20px 108px;
}

.logo-marca {
    width: 100px;
}

footer img {
    width: 82px;
    height: 82px;
    margin: 4px;
}

footer span a {
    margin: 10;
    padding: 10;
    font-size: 22px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

footer .logo-vertical p {
    text-align: justify;
    width: 400px;
}

footer .logo-footer ul li {
    list-style: none;
    margin:8px;
}

footer .logo-footer ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    width: 48px;
}


footer hr {
    border: 1px solid #000000;
}

footer h4 {
    height: 20px;
    font-size: 16px;
    text-align: center;
}